# Database Configuration
DB_HOST=102.218.215.35
DB_PORT=3306
DB_USERNAME=citlogis_bryan
DB_PASSWORD=@bo9511221.qwerty
DB_DATABASE=citlogis_forecourt

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Server Configuration
PORT=3000
NODE_ENV=development

# File Upload Configuration
UPLOAD_DEST=./uploads
MAX_FILE_SIZE=10485760

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=otienobryan
CLOUDINARY_API_KEY=825231187287193
CLOUDINARY_API_SECRET=BSFpWhpwt3RrNaxnZjWv7WFNwvY
CLOUDINARY_UPLOAD_PRESET=motor_gas 